# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.cache/
.ipynb_checkpoints/

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variable and secrets
.env

# Jupyter Notebook Checkpoints
*.ipynb_checkpoints

# VSCode files
.vscode/

# System files
.DS_Store
Thumbs.db

# Output files
*.xlsx
Generated_Ads_Output_Final.xlsx
